# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

.vscode

# dependencies
node_modules/
package-lock.json

# Expo
.expo/
dist/
web-build/
.idea/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

#misc
*.code-workspace

#builds
*.ipa